{% extends "readme_form/base.html" %}
{% block content %}
    <h1 class="text-center">readme-toolkit</h1>
    <p class="text-center">Generate or compare your README.md. The completeness of a project is not defined by just the implementation and code of the project, it involves one of the major component and that is how you describe your project. Now description can be easily done by a README.md. It might be uninteresting to write a README.md file and that's why I am here for. Myself readme-toolkit, try me out! I won't upset you and will try my best to give a wonderful output 😊.</p>
    <p><strong>NOTE:</strong> This tool can work only for the github URLs of the default branh which is generally in the form https://github.com/{username}/{repo name}</p>
    <br>
    <hr>
    <br>
    {% if error %}
        <div class="alert alert-danger text-center" role="alert">
            Sorry for the inconvenience but something went wrong! Please contact the developers. Find the contact details below 👇.
        </div>
    {% endif %}
    <form class="basic-info" method="POST" action=".">{% csrf_token %}
        <div class="input-group mb-3">
            {% comment %} {% if error or readme_present %}
                <input type="url" class="form-control" placeholder="GitHub Repository Link" aria-label="GitHub Repository Link" name="repo-link" value="{{ repo_link }}" required>
            {% else %} {% endcomment %}
            <input type="url" class="form-control" placeholder="GitHub Repository Link" aria-label="GitHub Repository Link" name="repo-link" required autofocus>
            {% comment %} {% endif %} {% endcomment %}
            <button class="btn btn-outline-success" type="submit" id="next-normal" onclick="loading()">Check</button>
            <button class="btn btn-outline-success" id="next-clicked" type="button" disabled style="display: none">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </form>

    {% if readme_present %}
        {% if score >= 15 %}    
            <div class="alert alert-info text-center" role="alert">
        {% else %}
            <div class="alert alert-danger text-center" role="alert">
        {% endif %}
                <h3>Repository Analysis Report</h3>
                {% for each in profile %}
                    <p>{{ each }}</p>
                {% endfor %}
                <h3>README Analysis Report</h3>
                {% for each in score_data %}
                    <p>{{ each }}</p>
                {% endfor %}
            </div>
            <pre>
                Are you satisfied with this score? (If not, then you can proceed to fill some details out...)     <a class="btn btn-outline-info" type="button" href = {% url 'readme-detail' %}>Proceed</a>
            </pre>
    {% endif %}

    <script>
        function loading() {
            var form = document.getElementsByClassName('basic-info');
            console.log(form[0].checkValidity());
            if (form[0].checkValidity() == true) {
                document.getElementById('next-normal').style.display = 'none';
                document.getElementById('next-clicked').style.display = 'block';
            }
        }
    </script>
{% endblock content %}
