{% extends "readme_form/base.html" %}
{% block content %}
    <h2>Installation Steps</h2>
    <div class="row">
        <div class="col-sm-8">
            <form method="POST" action=".">{% csrf_token %}
                <div class="mb-3">
                    <label for="description" class="form-label">Description for the code</label>
                    <input type="text" class="form-control" placeholder="Explain what this code snippet does..." name="description">
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Code</label>
                    <input class="form-control" placeholder=">> installation step" name="code">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Add Step</button>
                            <button class="btn btn-primary" id="add-clicked" type="button" disabled style="display: none">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Adding...
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-primary" href="{% url 'readme-usage' %}">Next</a>
                            <button class="btn btn-primary" id="next-clicked" type="button" disabled style="display: none">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <label style="color: grey">Write the steps to be added in the above fields and click <strong>Add Step</strong> to add the step.</label>
                    </div>
                    <div class="row">
                        <label style="color: grey">Click <strong>Next</strong> to move to the next page.</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <div class="card" style="text-align: center;margin-left: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Preview</h5>
                    {% for step in install_steps %}
                    {% for key,value in step.items %}
                    <p>{{ value }}</p>
                    {% endfor %}
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}