{% extends "readme_form/base.html" %}
{% block content %}
    <form>
        <div class="mb-3">
            <label for="repoLink" class="form-label">GitHub Repository Link</label>
            <input type="url" class="form-control" id="repoLink">
        </div>
        <div class="mb-3">
            <label for="purpose" class="form-label">Purpose of the Project</label>
            <input type="text" class="form-control" id="purpose" 
            placeholder="Write a complete meaningful sentence...">
        </div>
        <div class="mb-3">
            <label for="audience" class="form-label">Target Audience</label>  
            {% for list in usecases %}
                <div class="row">
                    {% for usecase in list %}
                        <div class="mb-3 form-check col-sm-4">
                            <input type="checkbox" class="form-check-input" id="usecase{{forloop.counter}}{{forloop.parentloop.counter}}">
                            <label class="form-check-label" for="usecase{{forloop.counter}}{{forloop.parentloop.counter}}">{{usecase}}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="genres" class="form-label">Genre of your Project</label>  
            {% for list in genres %}
                <div class="row">
                    {% for genre in list %}
                        <div class="mb-3 form-check col-sm-4">
                            <input type="checkbox" class="form-check-input" id="genre{{forloop.counter}}{{forloop.parentloop.counter}}">
                            <label class="form-check-label" for="genre{{forloop.counter}}{{forloop.parentloop.counter}}">{{genre}}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="license" class="form-label">License Details</label>
            <div class="row">
                <div class="col-sm-1">
                    <label for="license-name" class="form-label">Name</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="license-name">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <label for="license-url" class="form-label">URL</label>
                </div>
                <div class="col-sm-6">
                    <input type="url" class="form-control" id="license-url">
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{% url 'readme-installation' %}">Next</a>
    </form>
{% endblock content %}